.layout {
  display: grid;
  grid-template-areas:
    "empty header"
    "initial result";
  grid-template-columns: 240px 240px;
  grid-template-rows: 38px 448px;
  gap: 30px 56px;

}

.empty {
  grid-area: empty;
}

.header {
  grid-area: header;
}

.initial {
  grid-area: initial;
}

.result {
  grid-area: result;
}